@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

@layer base {
	body {
		/*@apply bg-zinc-950 text-neutral-200;*/
		/*@apply bg-[#E7EDF1] text-zinc-500;*/
		/*@apply bg-green-100 text-neutral-900;*/


		/* background is golden-50 */

		@apply bg-yellow-50 text-neutral-900;

	}
}
